@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

$background-color: white;
$dark-color: #181823;
$sky-blue-color: #e36414;
$post-color: #ededed;
//MAIN CSS FOR ALL PAGES PAGE AND BLOG - START
body {
  .holy-grid-flexcontianer {
    display: flex;
    flex-direction: column;

    background-color: $background-color;
    font-family: "Inter", sans-serif;
    height: 100vh;
    // border: 3px solid blue;
    h6 {
      font-size: 0.67rem;
    }
    p {
      font-size: 1.2rem;
    }

    header {
      background-color: $dark-color;
      padding: 1rem;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
      }

      .btn {
        padding: 1rem;
        background-color: $sky-blue-color;
        border-radius: 0.5rem;
      }
      #menu-btn {
        display: none;
      }
      span {
        text-align: center;
      }
    }

    .flex-trinity-container {
      display: flex;
      flex-direction: row;
      flex: 1;
      margin: 2rem auto;
      gap: 1rem;
      justify-content: center;

      nav {
        background-color: $sky-blue-color;
        flex: 1;
        border-radius: 0.5rem;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .unord-list-container {
          list-style-type: none;
          text-align: center;
          padding: 0;
          display: flex;
          flex-direction: column;

          li {
            font-size: 1.1rem;
            font-weight: bold;
            // border: 3px solid red;

            &:hover {
              background-color: white;
              color: black;
            }
            a {
              text-decoration: none;
              color: white;
              display: inline-block;

              // border: 3px solid green;
              padding: 1rem 6rem;

              &:hover {
                color: black;
              }
            }
          }
        }
      }

      main {
        padding: 2rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        overflow: hidden;
        overflow-y: scroll;

        height: 60vh;
        // border: 3px solid blue;
        margin: 0 3rem;

        .post-container {
          //

          max-width: 50rem;
          width: 96%;
          background-color: $post-color;
          padding: 1rem;
          border-radius: 0.5rem;
          // border: 4px solid red;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }

    footer {
      background-color: $dark-color;
      color: white;
      padding: 3rem;
      display: flex;
      justify-content: center;
      .footer-container {
        display: flex;
        justify-content: space-between;

        width: 70rem;
      }
    }
  }
}
//MAIN CSS FOR PAGE AND BLOG - END

//Inlogning sida - start
.login-card-container {
  // border: 3px solid blue;
  margin: 0 2rem;
  text-align: center;
  align-self: flex-start;
  padding: 4rem;
  form {
    width: 100%;
  }
  input {
    width: 100%;
    margin-top: 0.5rem;
  }
}
//Inlogning sida - end

//Admin sida - start
.admin-page-container {
  // border: 4px solid blue;
  overflow: hidden;
  overflow-y: scroll;
  height: 70vh;
  overflow-x: auto;

  form {
    // border: 3px solid red;
    padding: 1rem 1.5rem;
    margin: 2rem 3rem;
    textarea {
      width: 96%;
    }

    input {
      width: 96%;
    }
  }

  table {
    border-collapse: collapse;
    width: 96%;
    text-align: center;
    margin: 0 auto;
    overflow-x: auto;

    tr:nth-child(odd) {
      background-color: #ddd;
    }

    th {
      background-color: $sky-blue-color;
      color: white;
    }

    th,
    table {
      // border: 2px solid blue;
      padding: 0.8rem 0.6rem;
    }

    td {
      padding: 1.1rem 0.8rem;
    }
    .btn {
      color: white;
      background-color: $sky-blue-color;
      border-radius: 0.5rem;
      padding: 0.8rem 0.5rem;
      text-decoration: none;
    }
  }
}
//Admin sida - end

//

//Scrollbar design
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $sky-blue-color;
  border-radius: 10px;
}
//Small screen size

//toggle effect
.show {
  display: block !important;
}

@media (max-width: 1050px) {
  .top-nav {
    display: none;
  }
  header {
    .log {
      color: white !important;
      display: none;
    }
    #menu-btn {
      display: block !important;
      cursor: pointer;
    }
  }

  .flex-trinity-container {
    flex-direction: column !important;

    margin: 0 !important;

    nav {
      border-radius: 0 !important;
    }
  }

  .login-card-container {
    margin: 0 auto;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
