@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
body .holy-grid-flexcontianer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

body .holy-grid-flexcontianer h6 {
  font-size: 0.67rem;
}

body .holy-grid-flexcontianer p {
  font-size: 1.3rem;
}

body .holy-grid-flexcontianer header {
  background-color: #181823;
  padding: 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .holy-grid-flexcontianer header a {
  text-decoration: none;
  color: white;
}

body .holy-grid-flexcontianer header .btn {
  padding: 1rem;
  background-color: #e36414;
  border-radius: 0.5rem;
}

body .holy-grid-flexcontianer header #menu-btn {
  display: none;
}

body .holy-grid-flexcontianer header span {
  text-align: center;
}

body .holy-grid-flexcontianer .flex-trinity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2rem auto;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .holy-grid-flexcontianer .flex-trinity-container nav {
  background-color: #e36414;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container li {
  font-size: 1.1rem;
  font-weight: bold;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container li:hover {
  background-color: white;
  color: black;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1rem 6rem;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container li a:hover {
  color: black;
}

body .holy-grid-flexcontianer .flex-trinity-container main {
  padding: 2rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  height: 60vh;
  margin: 0 3rem;
}

body .holy-grid-flexcontianer .flex-trinity-container main .post-container {
  max-width: 50rem;
  width: 96%;
  background-color: #ededed;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body .holy-grid-flexcontianer footer {
  background-color: #181823;
  color: white;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .holy-grid-flexcontianer footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70rem;
}

.login-card-container {
  margin: 0 2rem;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 4rem;
}

.login-card-container form {
  width: 100%;
}

.login-card-container input {
  width: 100%;
  margin-top: 0.5rem;
}

.admin-page-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 70vh;
  overflow-x: auto;
}

.admin-page-container form {
  padding: 1rem 1.5rem;
  margin: 2rem 3rem;
}

.admin-page-container form textarea {
  width: 96%;
}

.admin-page-container form input {
  width: 96%;
}

.admin-page-container table {
  border-collapse: collapse;
  width: 96%;
  text-align: center;
  margin: 0 auto;
  overflow-x: auto;
}

.admin-page-container table tr:nth-child(odd) {
  background-color: #ddd;
}

.admin-page-container table th {
  background-color: #e36414;
  color: white;
}

.admin-page-container table th,
.admin-page-container table table {
  padding: 0.8rem 0.6rem;
}

.admin-page-container table td {
  padding: 1.1rem 0.8rem;
}

.admin-page-container table .btn {
  color: white;
  background-color: #e36414;
  border-radius: 0.5rem;
  padding: 0.8rem 0.5rem;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e36414;
  border-radius: 10px;
}

.show {
  display: block !important;
}

@media (max-width: 1050px) {
  .top-nav {
    display: none;
  }
  header .log {
    color: white !important;
    display: none;
  }
  header #menu-btn {
    display: block !important;
    cursor: pointer;
  }
  .flex-trinity-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin: 0 !important;
  }
  .flex-trinity-container nav {
    border-radius: 0 !important;
  }
  .login-card-container {
    margin: 0 auto;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main_style.css.map */