@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

$background-color: white;
$dark-color: #181823;
$sky-blue-color: #d9d9d9;

body {
  .holy-grid-flexcontianer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background-color;
    font-family: "Inter", sans-serif;

    header {
      background-color: $dark-color;
      padding: 3rem;
      color: white;
      display: flex;
      justify-content: space-between;
    }

    .flex-trinity-container {
      display: flex;
      flex-direction: row;
      flex: 1;
      gap: 1rem;
      margin: 1rem;

      nav {
        background-color: $sky-blue-color;
        padding: 3rem;
        flex: 1;
        border-radius: 0.5rem;

        .unord-list-container {
          list-style-type: none;
          border: 3px solid green;
          text-align: center;
          padding: 0;
          li {
            margin: 2rem 0;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 1 0rem;
            border: 3px solid red;

            &:hover {
              background-color: white;
            }
            a {
              text-decoration: none;
              color: black;
              display: inline-block;
              padding: 0.8rem 2rem;
            }
          }
        }
      }
      main {
        background-color: #ededed;
        padding: 3rem;
        flex: 4.5;
        border-radius: 0.5rem;
      }
      aside {
        background-color: $sky-blue-color;
        padding: 3rem;
        flex: 1;
        border-radius: 0.5rem;
      }
    }

    footer {
      background-color: $dark-color;
      color: white;
      padding: 3rem;
    }
  }
}

@media (max-width: 769px) {
  .flex-trinity-container {
    flex-direction: column !important;
  }
}
