@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
body .holy-grid-flexcontianer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  font-family: "Inter", sans-serif;
}

body .holy-grid-flexcontianer header {
  background-color: #181823;
  padding: 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .holy-grid-flexcontianer header a {
  text-decoration: none;
  color: white;
}

body .holy-grid-flexcontianer .flex-trinity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2rem auto;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .holy-grid-flexcontianer .flex-trinity-container nav {
  background-color: #e36414;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0.5rem;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container li {
  font-size: 1.1rem;
  font-weight: bold;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container li:hover {
  background-color: white;
}

body .holy-grid-flexcontianer .flex-trinity-container nav .unord-list-container li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 1rem 6rem;
}

body .holy-grid-flexcontianer .flex-trinity-container main {
  padding: 2rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  height: 70vh;
  margin: 0 3rem;
}

body .holy-grid-flexcontianer .flex-trinity-container main .post-container {
  width: 100%;
  max-width: 60rem;
  background-color: #ededed;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body .holy-grid-flexcontianer .flex-trinity-container aside {
  background-color: #e36414;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0.5rem;
}

body .holy-grid-flexcontianer footer {
  background-color: #181823;
  color: white;
  padding: 3rem;
}

.login-card-container {
  margin: 0 2rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 4rem;
}

.login-card-container form {
  width: 100%;
}

.login-card-container input {
  width: 100%;
  margin-top: 0.5rem;
}

@media (max-width: 1050px) {
  .flex-trinity-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
/*# sourceMappingURL=main_style.css.map */